* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.main {
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.srikanth {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    color: orange;
    font-size: 20px;
    font-weight: bold;
}

.menu {
    float: right;
        width: 200px;
        height: 10px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: orange;
}

.auth-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.auth-buttons button {
    padding: 10px 60px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-buttons button:hover {
    background: darkorange;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.home-content button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-content button:hover {
    background: green;
}